pysqlite3-binary; sys_platform == 'linux'
# pywin32==306
streamlit==1.38.0
python-dotenv==1.0.1
langchain==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0
langchain-core==0.3.1
langchain-anthropic==0.2.1
pandas==2.2.2
PyPDF2==3.0.1
python-docx==0.8.11
mammoth==1.4.2
chardet==5.2.0

